.App-article-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

#dark .App-main-content {
    margin-bottom: 35px;
}
.App-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.App-article-title {
    margin: 40px 0;
    font-size: 3rem;
    color: #424C7C;
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 20px 0;
}

#dark .App-article-title {
    color: white;
}

.App-article-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}


.article-image {
    width: 50%;
    height: auto;
    margin: 20px 0; 
}

.article-text {
    display: flex;
    align-items: center;
    // font-weight: 300;
    margin: 40px auto;
    font-size: 1.2rem;
    color: #424C7C;
    width: 60%;
    line-height: 1.3;
}

#dark .article-text {
    color: white;
}

.App-article-author {
    font-size: 0.8rem;
    color: #424C7C;
    font-weight: 300;
    border-radius: 5px;
    border: #424C7C 1px solid;
    padding: 5px;
}

#dark .App-article-author {
    color: white;
}

.App-pub {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #424C7C;
    font-weight: bold;
    border-radius: 5px;
    border: #424C7C 1px solid;
    padding: 30px;
    background-color: #EAEAEA;
    width: 60%;
    align-items: center;
    margin-bottom: 50px;
}

#dark .App-pub {
    background-color: rgb(0, 0, 82);
    color: white;
    box-shadow: darkblue 0px 10px 36px 0px, darkblue 0px 0px 0px 1px;
}
.App-pub-title {
    padding-bottom: 10px;
}
.App-pub-text{
    padding-bottom: 10px;
}
.App-pub-button {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    margin: auto;
    font-size: 1.2rem;
}
.App-pub-button:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}

@media screen and (max-width: 900px) {
    .App-article-title{
        font-size: 2rem;
    }
    .App-article-image {
        width: 100%;
    }
    .article-image {
        width: 80%;
        height: auto;
    }
    .article-text {
        width: 100%;
    }
    
}