@import './src/styles/vars';

.footer-container {
  //margin: 0 auto;
  position: fixed;
  bottom: 30px;
  width: 100%;
  padding: 20px;
  background-color: rgb(201, 201, 201);
}
.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cours {
  background-color: $blueLogo;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}
.numberPage {
  padding: 0 40px;
}
/*
.App-footer {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #424C7C;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/