.input-modifier {
    color: #424C7C;
    font-size: 0.8rem;
    border-radius: 5px;
    border: #424C7C 2px solid;
    padding: 10px;
    margin: 10px;

    &::placeholder {
        color: #424C7C;
        font-size: 0.8rem;
    }
}

.button-modifier {
    background-color: #424C7C;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 5px;
    border: #424C7C 2px solid;
    padding: 10px;
    margin: 10px;

    &:hover {
        background-color: #fff;
        color: #424C7C;
        font-size: 0.8rem;
        border-radius: 5px;
        border: #424C7C 2px solid;
        padding: 10px;
        margin: 10px;
    }
}

.delete-account {
    background-color: red;
}

.modifier-alter {
    color: red;
}